
html
	head
		title
			script(src="a.js")
			script
				include a.js
			link(href="a.css",rel="stylesheet")
			-var a = 12
			body
				input(type="text",id="txt" value="input1")
				.hello
						ul
							li
				//- div 我的名字:#{name} 
					span
					input

				div 我的名字:#{a + b} 
				div(style=json)
				div(class=arr)


				div(class=arr)
				div(class=arr class="active")
				div(class=arr)
				div(class=arr)
				div(class=arr)